@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<p><span>Pasichniy Leonid</span></p>

<address>
    <strong>Email:</strong>   <a href="mailto:leonid@email.ua">leonid@email.ua</a><br />
</address>