@{
    ViewBag.Title = "Home Page";
}

@section css{
    <link href="~/Content/ng.css" rel="stylesheet" />
    <link href="~/Content/index.page.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/vue.js"></script>
    <script src="~/ScriptsVue/IndexPadeApp.js"></script>
}

<div id="app">
    <h2>Car register page</h2>
    <div>
        <table class="table table-bordered">
            <tr>
                <td style="width: 7vw;">
                    <span>First name:</span>
                    <input class="" style="width: 100%;" type="text" v-model="firstNameInput" :disabled="inputCarModelDisabled == true" name="fnname" placeholder="" />
                </td>
                <td style="width: 7vw;">
                    <span>Last name:</span>
                    <input class="" style="width: 100%;" type="text" v-model="lastNameInput" :disabled="inputCarModelDisabled == true" name="lnname" placeholder="" />
                </td>
                <td style="width: 7vw;">
                    <span>Patronimic:</span>
                    <input class="" style="width: 100%;" type="text" v-model="patronymicInput" :disabled="inputCarModelDisabled == true" name="pname" placeholder="" />
                </td>
                <td style="width: 7vw;">
                    <span>Phone number:</span>
                    <input class="" style="width: 100%;" type="text" v-model="phoneNumberInput" :disabled="inputCarModelDisabled == true" name="pnname" placeholder="" />
                </td>
                <td style="width: 7vw;">
                    <span>Car number:</span>
                    <input class="" style="width: 100%;" type="text" v-model="carNumberInput" :disabled="inputCarModelDisabled == true" name="cnname" placeholder="" />
                </td>
                <td>
                    <span>Car brand:</span>
                    <select v-model="carBrandSelect" v-on:change="OnCarBrandSelectChange(carBrandSelect)" :disabled="inputCarModelDisabled == true" id="brandsSelectList" class="brand-select-list" style="width: 100%;">
                        <option v-for="brand in carBrandsList" v-bind:value="brand.Id">{{brand.Name}}</option>
                    </select>
                </td>
                <td>
                    <span>Car model:</span>
                    <select v-model="carModelSelect" :disabled="inputCarModelDisabled == true" id="modelsSelectList" class="model-select-list" style="width: 100%;">
                        <option v-for="model in carModelsList" v-bind:value="model.Id">{{model.Name}}</option>
                    </select>
                </td>
                <td style="text-align: center; padding-top: 15pt; width: 7vw;">
                    <a v-on:click="RegisterCar()">
                        <img title="Register car" src="~/Content/images/add.png" />
                    </a>
                </td>
            </tr>
        </table>
        <hr />
        <table id="cars-content-tabele" ng-show="true" class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 7vw;">
                        <span>First name</span>
                    </th>
                    <th style="width: 7vw;">
                        <span>Last name</span>
                    </th>
                    <th style="width: 7vw;">
                        <span>Patronimic</span>
                    </th>
                    <th style="width: 7vw;">
                        <span>Phone number</span>
                    </th>
                    <th style="width: 7vw;">
                        <span>Car number</span>
                    </th>
                    <th>
                        <span>Car brand</span>
                    </th>
                    <th>
                        <span>Car model</span>
                    </th>
                    <th style="width: 7vw;">
                        <span>Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr :id="'cars-content-tabele-row-carid-' + car.CarId" v-for="car in carsList">
                    <td>
                        <span v-show="EditCarId != car.CarId">{{car.FirstName}}</span>
                        <input v-show="EditCarId == car.CarId" :id="'carBrandEditFirstNameInput-' + car.CarId" class="" style="width: 100%;" type="text" name="fnename" placeholder="" />
                    </td>
                    <td>
                        <span v-show="EditCarId != car.CarId">{{car.LastName}}</span>
                        <input v-show="EditCarId == car.CarId" :id="'carBrandEditLastNameInput-' + car.CarId" class="" style="width: 100%;" type="text" name="lnename" placeholder="" />
                    </td>
                    <td>
                        <span v-show="EditCarId != car.CarId">{{car.Patronymic}}</span>
                        <input v-show="EditCarId == car.CarId" :id="'carBrandEditPatronimicInput-' + car.CarId" class="" style="width: 100%;" type="text" name="pname" placeholder="" />
                    </td>
                    <td>
                        <span v-show="EditCarId != car.CarId">{{car.PhoneNamber}}</span>
                        <input v-show="EditCarId == car.CarId" :id="'carBrandEditPhoneNumberInput-' + car.CarId" class="" style="width: 100%;" type="text" name="pnname" placeholder="" />
                    </td>
                    <td>
                        <span v-show="EditCarId != car.CarId">{{car.CarNumber}}</span>
                        <input v-show="EditCarId == car.CarId" :id="'carBrandEditCarNumberInput-' + car.CarId" class="" style="width: 100%;" type="text" name="cnname" placeholder="" />
                    </td>
                    <td>
                        <span v-show="EditCarId != car.CarId">{{car.CarBrand}}</span>
                        <select v-show="EditCarId == car.CarId" :id="'carBrandEditSelect-' + car.CarId" style="width: 100%;">
                        </select>
                    </td>
                    <td>
                        <span v-show="EditCarId != car.CarId">{{car.CarModel}}</span>
                        <select v-show="EditCarId == car.CarId" :id="'carModelEditSelect-' + car.CarId" style="width: 100%;">
                        </select>
                    </td>
                    <td style="text-align: center; width: 7vw;">
                        <a v-show="EditCarId != car.CarId" v-on:click="OnEditCarInit(car.CarId)">
                            <img title="Edit" src="~/Content/images/edit.png" />
                        </a>
                        <a v-show="EditCarId == car.CarId" v-on:click="OnSaveCarEdit(car.CarId)">
                            <img title="Save" src="~/Content/images/save.png" />
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a v-on:click="OnDeleteCar(car.CarId)">
                            <img title="Delete" src="~/Content/images/erase.png" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





